<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <welcome-file-list>
        <welcome-file>/Client/out/index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/Client/out/error.jsp</location>
    </error-page>

    <filter>
        <filter-name>default</filter-name>
        <filter-class>StaticContentFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>default</filter-name>
        <url-pattern>/css/*</url-pattern>
        <url-pattern>/js/*</url-pattern>
        <url-pattern>/img/*</url-pattern>
        <url-pattern>/fonts/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>pve</servlet-name>
        <jsp-file>/Client/out/pve.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>pve</servlet-name>
        <url-pattern>/pve</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>pvp</servlet-name>
        <jsp-file>/Client/out/pvp.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>pvp</servlet-name>
        <url-pattern>/pvp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>recruit</servlet-name>
        <jsp-file>/Client/out/recruit.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>recruit</servlet-name>
        <url-pattern>/recruit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>about</servlet-name>
        <jsp-file>/Client/out/ueber_uns.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>about</servlet-name>
        <url-pattern>/aboutus</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>register</servlet-name>
        <jsp-file>/Client/out/register.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
</web-app>